@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	width: 960px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

section {
	margin-top: 20px;
}
h1 {
	margin-bottom: 0;
}
div.info > p {
    margin-top: 5px;
}

table,
table > caption {
	text-align: left;
}

table {
	width: 100%;
	background-color: #eaeced;
}
caption {
	font-size: 1.1em;
	text-transform: uppercase;
}
th {
	border-bottom: 1px solid #909395;
}

tr > td:last-child {
	width: 140px;
}

th, td {
	padding: 5px 10px;
}

span.prof {
	font-weight: bold;
}

span.description {
	font-size: 0.8em;
}

section.profInfo {
	display: flex;
}